<header id="home" class="secondary-header">
  <div class="bg-wrapper"></div>
  <div class="row">
    <h1>
      <strong>Travail</strong>
      <span class="clearfix"></span>
      {{work.title}}
    </h1>
  </div>
</header>

<section id="works" class="mono" itemscope itemtype="http://schema.org/CreativeWork">
  <div data-ng-show="workState.loading" data-show-error="workState.error" data-embed-loader></div>
  <div data-ng-hide="workState.loading">
    <div class="row work-desc">
      <div class="columns medium-10 large-8 large-offset-2 medium-offset-1">
        <div class="work-title-bloc">
          <p class="text-left work-dir-link">
            <a title="Travail précédent" data-ng-if="work.prev_id" href="#/travaux/{{work.prev_id}}"><i class="fa fa-fw fa-angle-left"></i></a>
          </p>
          <h5 itemprop="name">{{work.title}}</h5>
          <p class="text-right work-dir-link">
            <a title="Travail suivant" data-ng-if="work.next_id" href="#/travaux/{{work.next_id}}"><i class="fa fa-fw fa-angle-right"></i></a>
          </p>
        </div>
        <p itemprop="text" class="info" data-ng-bind-html="work.description"></p>

        <div class="links" data-ng-show="work.website_url || work.github_url">
          <a itemprop="url" data-ng-show="work.website_url" data-ng-href="{{work.website_url}}">Site web</a>
          <a itemprop="sameAs" data-ng-show="work.github_url" data-ng-href="{{work.github_url}}">D&eacute;pôt Github</a>
        </div>

        <div data-ng-show="work.skills.length">
          <hr>

          <ul itemprop="keywords" class="info-bloc skills-list">
            <li class="skills" data-ng-repeat="skill in work.skills | limitTo: 15 | orderBy: 'name'">
              <span class="skill"><a itemprop="url" href="#/techniques/{{ skill.id }}">{{skill.name}}</a></span>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="row back">
      <div class="columns medium-10 medium-offset-1 large-8 large-offset-2">
        <a href="#/travaux"><i class="fa fa-fw fa-chevron-circle-left"></i>&nbsp;Retour aux travaux</a>
      </div>
    </div>
  </div>
</section>
