<header id="home" class="secondary-header">
  <div class="bg-wrapper"></div>
  <div class="row">
    <h1>Erreur<span class="hide-for-large-up clearfix"></span><strong>404</strong></h1>
  </div>
</header>
<section class="page" id="contact">
  <div class="full-width-row full-title">
    <h3>page non <span class="hide-for-large-up clearfix"></span><strong>trouv&eacute;e</strong></h3>
  </div>
  <div class="row error main-content">
    <div class="columns large-8 large-offset-2 medium-10 medium-offset-1">
      <p>
        La page demand&eacute;e n'a pas &eacute;t&eacute; trouv&eacute;e.
        <br/>
        Pourquoi ne pas tenter de <a href="#/">revenir &agrave; l'accueil</a> ?
      </p>
    </div>
  </div>
</section>
